<% for user in @users %>
  <p>Email: <%= user.email %>, <%= image_tag user.photo.url %>
    <% if can? :manage, user %>
      <%= link_to "Edit User", edit_user_path(user) %>,
      <%= link_to "Delete User", user_path(user), :confirm => "Are you sure?", :method => :delete %></p>
    <% end %>
<% end %>

<% if can? :manage, user %>
  <p><%= link_to "Add User", new_user_path %></p>
<% end %>
