<h1>This is your Home Page</h1>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to "edit profile", edit_user_registration_path %>
    <li><%= link_to "sign out", destroy_user_session_path, :method => :delete %></li>
    <li><%= link_to "change password", edit_user_password_path %></li>
    <li><%= link_to "all users", all_users_path %>
  </ul>
<% else %>
  <ul>
    <li><%= link_to "sign in", new_user_session_path %></li>
    <li><%= link_to "recover password", new_user_password_path %></li>
  </ul>
<% end %>
